/*Text*/
h1 a,
h2 a,
h3 a {
  color: #1d1d1d;
  font-weight: 600;
}

/*Navigation menus*/

/*Add padding to mobile menu*/
header .menu-toggle,
.search-toggle,
#switcher-toggle {
  margin: 0 12px;
}

/*Header Wrapper for Mobiles*/
header {
  padding-block: 0;
}

/*Move navigation items to right*/
#top-nav > ul {
  justify-content: flex-end;
}

/*Improve colour contrast on main nav menu*/
#top-nav ul a {
  opacity: 0.9;
}

#top-nav li {
  text-transform: none;
}

#top-nav li.active > a {
  text-decoration: underline;
}

/*Remove padding from first nav li item*/
#top-nav > ul > li:first-child {
  padding-left: 9px;
}

/*Centre Media Embed items*/
.media-render.file {
  display: flex;
  justify-content: center;
}

/*Remove language selector*/
[aria-label="Transcript language"] {
  display: none;
}

/*Remove close button*/
[aria-label="Close transcript"] {
  display: none;
}

/*Media Embed Openseadragon: Fill Width*/
.center.large.file .attachments {
  flex: 1 1 0;
  width: 100%;
}

.center.large.file .attachments .media-render.file img {
width: 100%;
}

/*Increase size of YouTube videos*/
.media-render.youtube {
  width: 100%;
}

/*HTML Media Render YouTube*/
.large .media-render.youtube.html {
height: 60vh;
}

.medium-large .media-render.youtube.html {
height: 50vh;
}

.medium .media-render.youtube.html {
height: 40vh;
}

.iiif-storyboard-wide-container {
  width: 90vw;
  margin: 0 auto;
}

/*Full width*/
.full-width {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

/*Margin-top-zero*/
.margin-top-zero {
  margin-top: 0 !important;
}

/*Increase banner subheading size*/
.image-banner .overlay-container > p {
  font-size: 1.2rem;
}

/*Increase size of Media Embed IIIF manifests*/
.center.large.file .attachments .media-render.iiif_presentation {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/*Title above media player for Media Embed Blocks*/
.center.large.file .item.resource,
.center.medium-large.file .item.resource {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.center.large.file .item.resource .media-render.webvtt,
.center.medium-large.file .item.resource .media-render.webvtt {
  width: 100%;
  flex-basis: 100%;
}

.center.large.file .item.resource h3,
.center.medium-large.file .item.resource h3 {
  order: -1;
}

/*Right Alignment for Overlay Block*/
.right.media-text.overlay,
.left.media-text.overlay {
  overflow: unset;
  max-width: unset;
}

/*Maximum Image Height*/
.media-text.max-image-height .media-render {
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-text.max-image-height img {
  width: auto;
  max-height: 90vh;
}

/*Media Text Overlay*/
.media-text.overlay .text h3 {
  text-align: center;
}

/*Mirador Header*/
.mirador-viewer header {
  align-items: inherit;
}

/*Underline hover on main menu*/
#top-nav ul a:hover {
  text-decoration: underline;
}

/*Paragraph Text*/
.paragraph-text {
  padding: 1em;
  line-height: 2;
}

.paragraph-text p,
.paragraph-text h3,
.paragraph-text ul {
  max-width: 800px;
  margin: 26px auto;
}

.paragraph-text.max-width-500 {
  max-width: 500px;
  margin: 0 auto;
}

.paragraph-text.dark {
  padding: 4rem 1rem;
}

/*Annona Settings*/
button#keyboardButton,
button#settingsButton,
button#reloadButton {
  display: none;
}

.storyboard_viewer {
  background: #000 !important;
}

/*Position openseadragon canvas correctly*/
.openseadragon-canvas {
  top: 4px;
}

.openseadragon-container {
  margin-top: 4px !important;
}
.seadragonbox {
  height: 80vh !important;
}

/*Remove Padding from Annona*/
.storyboard_viewer {
  padding-bottom: 0;
}

/*Increase size of Openseadragon for Large Centred Files - Media Embed*/
.center.large.file .media-render.iiif .openseadragon {
  height: 85vh !important;
  background: #000;
}

/*Increase width of Media Details block*/
.media-details-container > .col-single:only-child {
  width: 90%;
  margin: 0 auto;
}

/*Set maximum height for medium details block*/
.col-single > .media-render > img {
  display: block;
  height: calc(80vh - 12px);
  width: auto;
  margin: 0 auto;
}

/*Increase size of Openseadragon render for single items*/
.col-single .media-render.iiif .openseadragon {
  height: calc(80vh - 12px) !important;
  background: #ededed !important;
}

/*Add background to Openseadragon render*/
.col-single
  .media-render.iiif
  .openseadragon
  .openseadragon-container
  .openseadragon-canvas {
  background: #1d1d1d !important;
}

/*Improving Media Embed and Transcriptions*/
.page .item-showcase .resource.item:not(:only-child) h3,
.page .file .resource h3 {
  font-size: 1.5em;
  margin: 2em 0;
}

.page .item.resource .caption {
  font-size: 16.75px;
  line-height: 1.5;
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
}
/*End Improving Media Embed and Transcriptions*/

/*Media embed for Left and Right aligned items*/
.page .left.file .resource h3,
.page .right.file .resource h3 {
  font-size: 1em;
  margin: 0em;
}

.left.medium-large.file,
.right.medium-large.file {
  margin-top: 12px !important;
}

/*Style site page pagination*/
.site-page-pagination a {
  color: #ecb355;
}

/*Blockquote*/
.blockquote-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem !important;
  align-items: center;
  justify-content: center;
  background: #dcf5fb;
}

.blockquote-container p {
  margin-top: 48px;
}

blockquote {
  color: #3f3f5a;
  font-weight: 100;
  font-size: 2rem;
  max-width: 600px;
  line-height: 1.4;
  position: relative;
  margin: 5rem auto 4rem;
  padding: 0.5rem;
}

blockquote:before,
blockquote:after {
  position: absolute;
  color: #27b9d4;
  font-size: 8rem;
  width: 4rem;
  height: 4rem;
}

blockquote:before {
  content: "“";
  top: -5rem;
}

blockquote:after {
  content: "”";
  bottom: -1rem;
  right: 0;
}

cite {
  line-height: 2;
  text-align: left;
}

/*Format List of Pages Block*/
.list-of-pages {
  text-transform: capitalize;
  font-size: 28px;
}

.list-of-pages ul {
  list-style: none;
}

.list-of-pages ul li {
  background: #222222;
  padding: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--accent-color, #ecb355);
  font-weight: 600;
}

/*Remove download button from light gallery*/
#lg-download-1 {
  display: none;
}

/*Ensure videos display at correct aspect ratio*/
.media-render video {
  width: 100%;
}

/*Bold transcript text*/
.player-track p.active {
  font-weight: 600;
}

/*Margin for Hero Image text*/
.overlay-container {
  margin-left: 24px;
}

/*Minimum height for Banner Image*/
.image-banner .overlay-container {
  min-height: clamp(400px, 80vh, 600px);
}

/*Styling elements*/

/*Dark Background*/
.dark {
  background-color: #1d1d1d;
}

.dark p {
    color: #d7d7d7;
  }

.dark p a {
  color: #ecb355;
}

.dark h3 a {
    color: #fff;
  }

.padding-vertical-6 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

h2.block {
  width: 100%;
}

/*Add a centre class*/
.centre {
  text-align: center;
}

/*Word Wrap for Columns*/
.col-single {
  word-wrap: break-word;
  display: grid;
  align-items: center;
}

/*Additional margin*/
.left.file,
.left.assets {
  margin: 0 3rem 1rem 1rem;
}

.media-text .left.file {
  margin: 1em 0;
}

/*Media queries*/
@media screen and (max-width: 340px) {
  .site-heading p {
    font-size: 19px;
  }
}

@media screen and (max-width: 450px) {
  .site-heading {
    margin: 0 24px;
    width: 100%;
  }
}

@media screen and (min-width: 450px) {
  /*Increase font size on Hero Image*/
  .overlay-container h2 {
    font-size: 56px;
  }

  .image-banner .overlay-container > p {
  font-size: 2rem;
  }
}

@media screen and (max-width: 500px) {
  /*Right Arrow on Annona using mobiles*/
  .ltr#nextPageButton,
  .rtl#previousPageButton {
    left: 89%;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    padding-inline: 0;
  }
  header {
    padding-block: 0;
  }
}

@media screen and (min-width: 641px) {
  /*Increase height of Annona feature on larger screens*/
  .seadragonbox {
    height: 90vh !important;
  }
  .large .media-render.youtube.html {
  height: 80vh;
  }
  .medium-large .media-render.youtube.html {
  height: 65vh;
  }
  .medium .media-render.youtube.html {
  height: 50vh;
  }
}

@media screen and (min-width: 801px) {
  .center.large.file .attachments .media-render.iiif_presentation {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1025px) {
  /*Switch order of media player and transcription*/
  .player-reverse
    .file
    .attachments
    .item
    .media-render
    .player-container
    .player-controls {
    order: 1;
  }
  /*Increase width of Annona viewer for wider screens*/
  .iiif-storyboard-wide-container {
    width: 80%;
  }
  /*Increase size of Blockquote*/
  blockquote {
    font-size: 3rem;
  }
  .media-text.overlay {
    position: relative;
  }

  .media-text.overlay .left,
  .media-text.overlay .right {
    width: 50%;
  }

  .media-text.overlay .text {
    position: absolute;
    left: 40%;
    background: #fff;
    width: 50%;
  }

  /*Right Alignment*/
  .right.media-text {
    overflow: unset;
    max-width: unset;
    justify-content: flex-end;
  }

  .right.media-text.overlay .text {
    left: 5%;
  }

  .media-text.overlay .text h3 {
    text-align: inherit;
  }
  .media-text.max-image-height .media-render {
    display: inherit;
  }

  .media-text.max-image-height img {
    width: inherit;
    max-height: unset;
  }
}

@media only screen and (min-width: 1400px) {
  /*Increase height of Openseadragon media*/
  .col-single .media-render.iiif .openseadragon {
    height: calc(90vh - 12px) !important;
  }
  .media-details-container > .col-single:only-child {
    width: 100%;
    max-width: 1350px;
    margin: auto;
  }
}
