/*Text*/
h2 {
  line-height: 36px;
}

h1 a,
h2 a,
h2 a {
  color: #1d1d1d;
  font-weight: 600;
}

/*Add padding to wrapper*/
.wrapper {
  padding-inline: 24px;
}

/*Header*/
/*Header Edits*/
a.university-logo {
  flex-grow: 1;
  }
  
  a.university-logo img {
    margin: 12px 6px 12px 0px;
  }
  
  button.search-toggle {
  order: 0;
  }
  
  .language-switcher {
  order: 1;
  }
  
  button.menu-toggle {
  order: 2;
  }
  
  .site-heading {
  order: 3;
  width: 246px;
  margin: 0 24px; 
  }
  
  .site-heading p {
      margin: 0 0 12px 0;
  }
  
  header .menu-toggle, 
  .search-toggle, 
  #switcher-toggle {
      margin: 0;
      font-size: 16px;
      color: #b1b2b4;
  }
  
  button#switcher-toggle path {
  stroke: #b1b2b4;
  }

  /*Decrease padding-inline for header on mobiles*/
  header.wrapper {
    padding-inline: 12px;
  } 


/*Navigation menus*/
/*Add desktop menu*/
#desktop-nav>ul {
  display: none;
  }

/*Header Wrapper for Mobiles*/
header {
  padding-block: 0;
}

/*Mobile Menu*/
button.menu-toggle {
  position: relative;
  }

  nav#top-nav.hide-for-desktop.open {
    position: absolute;
    right: 0;
    margin-top: 40px;
    width: 100vw;
    background: #f4f4f4;
    z-index: 999999;
}

/*Move navigation items to right*/
#top-nav > ul,
#desktop-nav > ul {
  justify-content: flex-end;
}

/*Improve colour contrast on main nav menu*/
#top-nav ul a,
#desktop-nav ul a {
  opacity: 0.9;
}

#top-nav li,
#desktop-nav li {
  text-transform: none;
}

#top-nav li.active > a,
#desktop-nav li.active > a {
  text-decoration: underline;
  opacity: 1;
  font-weight: 600;
  & :active {
    font-weight: 600;
  }
}

/*Remove padding from first nav li item*/
#top-nav > ul > li:first-child,
#desktop-nav > ul > li:first-child {
  padding-left: 9px;
}

/*Centre Media Embed items*/
.media-render.file {
  display: flex;
  justify-content: center;
}

/*Decrease line height for medium embed h2*/
.left.medium-large.file h2,
.right.medium-large.file h2 {
    line-height: 24px;
}

/*Remove language selector*/
[aria-label="Transcript language"] {
  display: none;
}

/*Remove close button*/
[aria-label="Close transcript"] {
  display: none;
}

/*Media Embed Openseadragon: Fill Width*/
.center.large.file .attachments {
  flex: 1 1 0;
  width: 100%;
}

.center.large.file .attachments .media-render.file img {
width: 100%;
}

/*Increase size of YouTube videos*/
.media-render.youtube {
  width: 100%;
}

/*HTML Media Render YouTube*/
.large .media-render.youtube.html {
height: 60vh;
}

.medium-large .media-render.youtube.html {
height: 50vh;
}

.medium .media-render.youtube.html {
height: 40vh;
}

.iiif-storyboard-wide-container {
  width: 90vw;
  margin: 0 auto;
}

/*Full width*/
.full-width {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

/*Margin-top-zero*/
.margin-top-zero {
  margin-top: 0 !important;
}

/*Increase banner subheading size*/
.image-banner .overlay-container > p {
  font-size: 1.2rem;
}

/*Change opacity of image banner dark-tint*/
.image-banner .image-container::after {
  opacity: 0.6;
} 

/*Increase size of Media Embed IIIF manifests*/
.center.large.file .attachments .media-render.iiif_presentation {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/*Title above media player for Media Embed Blocks*/
.center.large.file .item.resource,
.center.medium-large.file .item.resource {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.center.large.file .item.resource .media-render.webvtt,
.center.medium-large.file .item.resource .media-render.webvtt {
  width: 100%;
  flex-basis: 100%;
}

.center.large.file .item.resource h2,
.center.medium-large.file .item.resource h2 {
  order: -1;
}

/*Right Alignment for Overlay Block*/
.right.media-text.overlay,
.left.media-text.overlay {
  overflow: unset;
  max-width: unset;
}

/*Maximum Image Height*/
.media-text.max-image-height .media-render {
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-text.max-image-height img {
  width: auto;
  max-height: 90vh;
}

/*Media Text Overlay*/
.media-text.overlay .text h2 {
  text-align: center;
}

/*Mirador Header*/
.mirador-viewer header {
  align-items: inherit;
}

/*Underline hover on main menu*/
#top-nav ul a:hover {
  text-decoration: underline;
}

/*Paragraph Text*/
.paragraph-text {
  padding: 1em;
  line-height: 2;
}

.paragraph-text p,
.paragraph-text h2,
.paragraph-text ul {
  max-width: 800px;
  margin: 26px auto;
}

.paragraph-text.max-width-500 {
  max-width: 500px;
  margin: 0 auto;
}

.paragraph-text.dark {
  padding: 4rem 1rem;
}

/*Remove padding and top margin*/ 
.paragraph-text.introduction.no-margin-top {
  padding-top: 0;
  margin-top: unset!important;
}

/*Annona Settings*/
button#keyboardButton,
button#settingsButton,
button#reloadButton {
  display: none;
}

.storyboard_viewer {
  background: #000 !important;
}

/*Position openseadragon canvas correctly*/
.openseadragon-canvas {
  top: 4px;
}

.openseadragon-container {
  margin-top: 4px !important;
}
.seadragonbox {
  height: 80vh !important;
}

/*Remove Padding from Annona*/
.storyboard_viewer {
  padding-bottom: 0;
}

/*Increase size of Openseadragon for Large Centred Files - Media Embed*/
.center.large.file .media-render.iiif .openseadragon {
  height: 85vh !important;
  background: #000;
}

/*Increase width of Media Details block*/
.media-details-container > .col-single:only-child {
  width: 90%;
  margin: 0 auto;
}

/*Set maximum height for medium details block*/
.col-single > .media-render > img {
  display: block;
  height: calc(80vh - 12px);
  width: auto;
  margin: 0 auto;
}

/*Increase size of Openseadragon render for single items*/
.col-single .media-render.iiif .openseadragon {
  height: calc(80vh - 12px) !important;
  background: #ededed !important;
}

/*Add background to Openseadragon render*/
.col-single
  .media-render.iiif
  .openseadragon
  .openseadragon-container
  .openseadragon-canvas {
  background: #1d1d1d !important;
}

/*Improving Media Embed and Transcriptions*/
.page .item-showcase .resource.item:not(:only-child) h2,
.page .file .resource h2 {
  font-size: 1.5em;
  margin: 2em 0;
}

.page .item.resource .caption {
  font-size: 16.75px;
  line-height: 1.5;
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
}
/*End Improving Media Embed and Transcriptions*/

/*Media embed for Left and Right aligned items*/
.page .left.file .resource h2,
.page .right.file .resource h2 {
  font-size: 1em;
  margin: 0em;
}

.left.medium-large.file,
.right.medium-large.file {
  margin-top: 12px !important;
}

/*Style site page pagination*/
.site-page-pagination a {
  color: #ecb355;
}

/*Blockquote*/
.blockquote-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem !important;
  align-items: center;
  justify-content: center;
  background: #dcf5fb;
}

.blockquote-container p {
  margin-top: 48px;
}

blockquote {
  color: #3f3f5a;
  font-weight: 100;
  font-size: 2rem;
  max-width: 600px;
  line-height: 1.4;
  position: relative;
  margin: 5rem auto 4rem;
  padding: 0.5rem;
}

blockquote:before,
blockquote:after {
  position: absolute;
  color: #27b9d4;
  font-size: 8rem;
  width: 4rem;
  height: 4rem;
}

blockquote:before {
  content: "“";
  top: -5rem;
}

blockquote:after {
  content: "”";
  bottom: -1rem;
  right: 0;
}

cite {
  line-height: 2;
  text-align: left;
}

/*Format List of Pages Block*/
.list-of-pages {
  text-transform: capitalize;
  font-size: 28px;
}

.list-of-pages ul {
  list-style: none;
}

.list-of-pages ul li {
  background: #222222;
  padding: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--accent-color, #ecb355);
  font-weight: 600;
}

/*Remove download button from light gallery*/
#lg-download-1 {
  display: none;
}

/*Ensure videos display at correct aspect ratio*/
.media-render video {
  width: 100%;
}

/*Bold transcript text*/
.player-track p.active {
  font-weight: 600;
}

/*Hero Image - IvyRzr Block*/
/*Margin for Hero Image text*/
.image-banner.tint-dark .image-container::after, 
.call-to-action.scheme-dark .action-button {
    background-color: #000;
    max-width: 1400px;
}

.grey-background {
background-color: #efefef;
}

.overlay-container {
  margin-left: 24px;
}

/*Minimum height for Banner Image*/
.image-banner .overlay-container {
  min-height: clamp(350px, 35vh, 451px);
  width: 1300px;
  margin: 0 auto;
  padding-inline: 24px;
}

.image-banner .image-container img {
max-width: 1400px;
}

.splash {
margin-top: -25px;
}

/*Styling elements*/

/*Dark Background*/
.dark {
  background-color: #1d1d1d;
}

.dark p {
    color: #d7d7d7;
  }

.dark p a {
  color: #ecb355;
}

.dark h2 a {
    color: #fff;
  }

.padding-vertical-6 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

h2.block {
  width: 100%;
}

/*Add a centre class*/
.centre {
  text-align: center;
}

/*Word Wrap for Columns*/
.col-single {
  word-wrap: break-word;
  display: grid;
  align-items: center;
  align-content: center;
}

/*Additional margin*/
.left.file,
.left.assets {
  margin: 0 2rem 1rem 1rem;
}

.media-text .left.file {
  margin: 1em 0;
}

/*Media queries*/
@media screen and (max-width: 340px) {
  .site-heading p {
    font-size: 19px;
  }
}

@media screen and (min-width: 342px) {
  nav#top-nav.hide-for-desktop.open {
  right: -1.35rem;
  }
}

@media screen and (min-width: 360px) {
  a.university-logo img {
   margin: 24px 12px 12px 0;
}

header.wrapper {
  padding-inline: 24px;
} 
}

@media screen and (min-width: 400px) {
  a.university-logo img {
      margin: 24px 24px 24px 0;
  }
}

@media screen and (min-width: 420px) {
  header .menu-toggle, 
  .search-toggle, 
  #switcher-toggle {
     font-size: 20px;
  }
}

@media screen and (max-width: 450px) {
  .site-heading {
    margin: 0;
  }
}

@media screen and (min-width: 450px) {
  /*Increase font size on Hero Image*/
  .overlay-container h1 {
    font-size: 3rem;
  }

  .image-banner .overlay-container > p {
  font-size: 2rem;
  }
}

@media screen and (max-width: 500px) {
  /*Right Arrow on Annona using mobiles*/
  .ltr#nextPageButton,
  .rtl#previousPageButton {
    left: 89%;
  }
}

@media screen and (max-width: 640px) {
  header {
    padding-block: 0;
  }
}

@media screen and (min-width: 641px) {
  a.university-logo {
    flex-grow: 0;
}
  .site-heading {
    order: 0;
  }
  button.search-toggle {
    order: 1;
    }
    
    .language-switcher {
    order: 2;
    }
    
    button.menu-toggle {
    order: 3;
    }
   .splash {
   margin-top: -49px;
   }
/*Desktop menu*/
#desktop-nav>ul {
    display:flex;
    flex-wrap:wrap;
    margin:0;
    padding-bottom:12px;
    border-bottom:1px solid #d0d0d0;
    justify-content: flex-end;
}
#desktop-nav li{
    font-size:16px;
    list-style-type:none;
    text-transform:uppercase;
    letter-spacing:.5px
}
#desktop-nav ul a{
    color:#222;
    transition:opacity .3s ease
}
#desktop-nav ul a:hover{
    opacity:1 !important
}
#desktop-nav li.active>a{
    opacity:1 !important;
    font-weight:600
}
#desktop-nav>ul>li{
    padding-inline:9px;
    padding-bottom:18px
}
#desktop-nav>ul>li:first-child{
    padding-left:0
}
#desktop-nav>ul>li li{
    font-family:"Work Sans",sans-serif;
    display:block
}
#desktop-nav>ul>li li:not(:last-of-type){
    margin-bottom:12px
}
#desktop-nav>ul>li>ul{
    position:absolute;
    height:0;
    overflow:hidden;
    background:var(--header-color, #f9bc58);
    margin-inline:-100vw;
    margin-bottom:18px;
    box-shadow:0 4px 18px rgba(0,0,0,.15);
    z-index:90
}
#desktop-nav>ul>li:hover>ul,#desktop-nav>ul>li>ul:focus-within{
    height:auto;
    overflow:visible;
    padding:24px 100vw
}
#desktop-nav>ul>li>ul::before{
    content:"";
    position:absolute;
    top:-5px;
    border-left:5px solid rgba(0,0,0,0);
    border-right:5px solid rgba(0,0,0,0);
    border-bottom:5px solid var(--header-color, #f9bc58)
}
#desktop-nav ul ul{
    margin:12px 0 0
}
#desktop-nav.nav-light ul ul a,#desktop-nav.nav-light ul ul li::before{
    color:#fff;
    opacity:.8
}
#desktop-nav ul ul ul{
    padding-left:12px
}
#desktop-nav ul ul ul li::before{
    content:"—";
    margin-right:6px;
    opacity: 0.4;
}
  /*Increase height of Annona feature on larger screens*/
  .seadragonbox {
    height: 90vh !important;
  }
  .large .media-render.youtube.html {
  height: 80vh;
  }
  .medium-large .media-render.youtube.html {
  height: 65vh;
  }
  .medium .media-render.youtube.html {
  height: 50vh;
  }
  /*Additional margin for media embed*/
  .left.file,
  .left.assets {
    margin: 0 3rem 1rem 1rem;
  }
}

@media screen and (min-width: 801px) {
  .center.large.file .attachments .media-render.iiif_presentation {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1025px) {
  /*Switch order of media player and transcription*/
  .player-reverse
    .file
    .attachments
    .item
    .media-render
    .player-container
    .player-controls {
    order: 1;
  }
  /*Increase height of Media Text items for larger screens*/
/*Centre Media Embed items*/
.media-render.file {
    height: 80vh;
    align-items: center;
}

  /*Increase width of Annona viewer for wider screens*/
  .iiif-storyboard-wide-container {
    width: 100%;
    max-width: 1350px;
  }
  /*Increase size of Blockquote*/
  blockquote {
    font-size: 2.5rem;
  }
  .media-text.overlay {
    position: relative;
  }

  .media-text.overlay .left,
  .media-text.overlay .right {
    width: 50%;
  }

  .media-text.overlay .text {
    position: absolute;
    left: 40%;
    background: #fff;
    width: 50%;
  }

  /*Right Alignment*/
  .right.media-text {
    overflow: unset;
    max-width: unset;
    justify-content: flex-end;
  }

  .right.media-text.overlay .text {
    left: 5%;
  }

  .media-text.overlay .text h2 {
    text-align: inherit;
  }
  .media-text.max-image-height .media-render {
    display: inherit;
  }

  .media-text.max-image-height img {
    width: inherit;
    max-height: unset;
  }
}

@media only screen and (min-width: 1400px) {
  /*Increase height of Openseadragon media*/
  .col-single .media-render.iiif .openseadragon {
    height: calc(90vh - 12px) !important;
  }
  .media-details-container > .col-single:only-child {
    width: 100%;
    max-width: 1350px;
    margin: auto;
  }
}
