//Typography
$base-font-size: 18px;
$base-line-height: 24px;
$mobile-font-size: 13px;
$mobile-line-height: 21px;

$spacing-s: .25 * $base-line-height;
$spacing-m: .5 * $base-line-height;
$spacing-l: $base-line-height;

$heading-font: "Montserrat", sans-serif;
$body-font: "Work Sans", sans-serif;

//Colors
$accent-color: #ecb355;
$header-color: #f9bc58;

$heading-color: #222;
$body-color: #444;

$primary-separator-color: #d0d0d0;
$secondary-separator-color: #dfdfdf;

//Misc
$rounding: 3px;
$hover-easing: .3s ease-in-out;

//Susy
$susy: (
  columns: 16,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);
