/* @group ----- Generic HTML Elements ----- */

html {
    font-size: 1.35 * $mobile-font-size;
    line-height: 1.4 * $mobile-line-height;
}

h1 {
    font-size: 2.25 * $mobile-font-size;
    line-height: 2 * $mobile-line-height;
    margin: 0 0 $spacing-l;
}

h2 {
    font-size: 2 * $mobile-font-size;
    line-height: 2 * $mobile-line-height;
    margin: $spacing-l 0;
}

h3 {
    font-size: 1.75 * $mobile-font-size;
    line-height: 1.5 * $mobile-line-height;
    margin: $spacing-l 0;
}

h4 {
    margin: $spacing-l 0;
    font-size: 1.5 * $mobile-font-size;
    line-height: 1.5 * $mobile-line-height;
}

    /* @group ----- Form elements ----- */

    input,
    input[type="text"],
    textarea,
    button,
    .button,
    select {
        font-size: $mobile-font-size;
        line-height: $mobile-line-height;
        margin: 0;
    }

    form .field {
        align-items: center;
    }

    form .field .field-meta,
    form .field > label,
    form .field > .label {
        width: 100%;
        padding-right: 0;
        margin-bottom: $spacing-s;
    }

    form .field > .inputs {
        width: 100%;
        padding-left: 0;
    }

    /* @end */

/* @end */

/* @group ----- Containers ----- */

#content {
    padding-block: $spacing-l 0;
}

.wrapper {
    padding-inline: $spacing-l;
}

/* @end */

/* @group ----- Navigation ----- */

.secondary-nav li a,
.pagination,
.pagination input[type="text"],
.item-pagination {
    font-size: $mobile-font-size;
}

#switcher-toggle {
    background-size: 1rem;
}

header .menu-toggle {
    display: block;
}

header .language-switcher + .menu-toggle {
    margin-left: 0;
}

.language-switcher > ul {
    font-size: $mobile-font-size;
    line-height: 1.25 * $mobile-line-height;
}


/* @end */

/* @group ----- Header ----- */

header {
    padding-block: $spacing-l $spacing-m;
}

header h1 {
    margin-bottom: 0;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

#top-nav > ul {
    flex-direction: column;
    gap: $spacing-s;
    padding-block: $spacing-s $spacing-l;
}

#top-nav.closed > ul {
    display: none;
}

#top-nav > ul > li {
    padding: ($spacing-s * 0.5) 0;
}

#top-nav > ul > li > ul {
    position: initial;
    background: none !important;
    height: auto;
    margin: $spacing-s 0 0;
    padding: 0 0 0 ($spacing-m * 0.75) !important;
    box-shadow: none;
}

#top-nav > ul > li > ul::before {
    display: none;
}

#top-nav ul ul li::before {
    content: "\2014";
    margin-right: $spacing-s;
    opacity: 0.6;
}

#top-nav.nav-light ul ul li::before,
#top-nav.nav-light ul ul a {
    color: $heading-color;
    opacity: 0.6;
}

#top-nav ul ul ul li {
    font-size: $mobile-font-size;
    line-height: $mobile-line-height;
}

#search-form-fields {
    margin-bottom: 0;
}

#search-form {
    width: calc(100% - 48px);
    top: 5.5 * $spacing-l;
    padding: $spacing-l * 0.75 $spacing-m;
}

#search-form input[type="text"],
#search-form button[type="submit"]:before {
    font-size: $mobile-font-size * 1.5;
}

#search-form .advanced-search {
    font-size: $mobile-font-size;
}

/* @end */

/* @group ----- Footer ----- */

footer {
    padding-block: (2 * $spacing-l);
}

/* @end */

/* @group ----- Home ----- */

div#featured {
    font-weight: normal;
}

#featured .record {
    min-height: 0;
    width: 100% !important;
}

#featured .featured-meta {
    padding: 0;
    max-width: 100%;
}

/* @end */

/* @group ----- Browse ----- */

.browse #outputs,
#sort-links {
    font-size: $mobile-font-size;
}

.records .hentry {
    font-size: 1.5 * $mobile-font-size;
    line-height: 1.5 * $mobile-line-height;
    width: calc(50% - #{$spacing-l});
}

.collection.hentry h2 {
    font-size: 1.5 * $mobile-font-size;
    line-height: 1.5 * $mobile-line-height;
}

.resource-list {
    grid-template-columns: repeat(2, 1fr);
}

.resource-list .resource {
    font-size: $mobile-font-size;
    line-height: $mobile-line-height;
}

.browse-controls {
    flex-direction: row;
}

.pagination {
    margin: $spacing-m 0;
    padding: 0;
}

/* @end */

/* @group ----- Show ----- */
.show #content h2:first-child {
    display: block;
    margin-bottom: 0;
}

.show #content h2:first-child + h3 {
    margin-left: 0;
}

.property {
    display: block;
}

.property h4,
.property dt,
.property dd,
.property .values,
.item-with-metadata .media-list {
    font-size: 1.5 * $mobile-font-size;
    width: 100%;
    text-align: left;
}

#linked-resources > h4 {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

#linked-filter,
.linked-header .pagination {
    width: 100%;
}

#linked-filter h4 {
    margin: 0 $spacing-s 0 0;
}

#linked-resources .linked-resource {
    width: 100%;
}

#linked-resources tr > td:first-child {
    background-color: #000;
    color: #fff;
}

#linked-resources td {
    border-bottom: 1px solid #000;
}

#linked-resources .resource-link {
    padding: 0 $spacing-s;
}

/* @end */

/* @group ----- Pages ----- */

.file {
    max-width: 100%;
}

.left.file {
    margin-right: 0;
}

.right.file {
    margin-left: 0;
}

/* @end */

/* @group ----- Search ----- */

.results > ul {
  display: block;
  
  & > li {
    width: auto;
  }
}

.sitewide-search-form ~ h2,
.sitewide-search-form ~ .pagination {
  float: none;
  text-align: left;
  width: 100%;
}

.sitewide-search-form ~ .pagination {
  margin: (-1 * $spacing-m) 0 (1.5 * $spacing-l);
}

.index.search .results ul {
  columns: 1;
}

/* @end */



/* @group ----- JMc edits ----- */

/*Word Wrap for Columns*/
.col-single {
    word-wrap: break-word;
    display: grid;
    align-items: center;
    }

/*Minimum height for Banner Image*/
.image-banner .overlay-container {
    min-height: clamp(400px, 80vh, 600px);
}

/*Margin for Hero Image text*/
.overlay-container {
    margin-left: 24px;
    }

/*Ensure videos display at correct aspect ratio*/
.media-render video {
    width: 100%;
    }
    
/*Bold transcript text*/
    .player-track p.active {
    font-weight: 600;
    }

/*Format List of Pages Block*/ 
    .list-of-pages {
        text-transform: capitalize;
            font-size: 28px;
    }
        
    .list-of-pages ul {
    list-style: none;
    }

    .list-of-pages ul li {
        background: #222222;
        padding: 1.5rem;
        margin-bottom: 0.5rem;
        color: var(--accent-color, #ecb355);
        font-weight: 600;
    }

    /*Update heading colours*/
    h1 a {
        color: #333333;
        font-weight: 600; 
    }

    h2 a,
    h3 a {
    color: $heading-color;
    font-weight: 600;
    }

    /*Block allowing increased padding*/
    .padding-vertical-6 {
        padding-top: 6rem!important;
        padding-bottom: 6rem!important;
        }
    
    /*Remove padding from first nav li item*/
    #top-nav>ul>li:first-child {
        padding-left: 9px;
      }
      
    /*Move navigation items to right*/
    #top-nav>ul {
        justify-content: flex-end;
    }

    /*Remove download button from light gallery*/
    #lg-download-1 {
        display: none;
    }

    /*Blockquote*/ 
    .blockquote-container {
        display: flex;
        flex-direction: column;
        padding: 1rem 2rem!important;
        align-items: center;
        justify-content: center;
        background: #dcf5fb;
    }

    .blockquote-container p {
        margin-top: 48px;
        }
        
    blockquote {
        color: #3f3f5a;
        font-weight: 100;
        font-size: 2rem;
        max-width: 600px;
        line-height: 1.4;
        position: relative;
        margin: 5rem auto 4rem;
        padding: 0.5rem;
    }
            
    blockquote:before,
    blockquote:after {
        position: absolute;
        color: #27b9d4;
        font-size: 8rem;
        width: 4rem;
        height: 4rem;
    }
    
    blockquote:before {
        content: '“';
        top: -5rem;
    }
    
    blockquote:after {
        content: '”';
        bottom: -1rem;
            right: 0;
    }
    
    cite {
        line-height: 2;
        text-align: left;
    }

/*End Blockquote*/

h2.block {
    width: 100%;
    }

/*Header wrapper for mobiles*/

    /*Add padding to mobile menu*/
header .menu-toggle, .search-toggle, #switcher-toggle {
    margin: 0 12px;
    }
    
    /*Header Wrapper for Mobiles*/
    header {
    padding-block: 0;
    }
    
    @media screen and (max-width: 640px) {
    .wrapper {
        padding-inline: 0;
    }
    header {
        padding-block: 0;
    }
    }
    
    @media screen and (min-width: 501px) and (max-width: 640px) {
    .site-heading {
    order: 0;
    }
    }
    
    @media screen and (max-width: 500px) {
    .site-heading {
        width: 100%;
    }
    }
    
    @media screen and (max-width: 450px) {
    .site-heading {
        margin: 0 24px;
        width: 100%;
    }
    }
    
    @media screen and (max-width: 340px) {
    .site-heading p {
        font-size: 19px;
    }
    }

/*Media embed for Left and Right aligned items*/
.page .left.file .resource h3,
.page .right.file .resource h3 {
    font-size: 1em;
    margin: 0em;
}

.left.medium-large.file,
.right.medium-large.file {
margin-top: 12px!important;
}

/*Universal Viewer*/
/*Increase height*/
.universal-viewer {
    height: calc(90vh - 12px)!important;
}

/*Remove padding from Universal Viewer*/
.centerPanel #content {
    padding-block: unset;
}

.footerPanel .searchResults {
display: none;
}

.footerPanel .searchPager {
display: none;
}

.footerPanel .search {
display: none;
}

/*Remove download and share buttons*/
.footerPanel .options button#download-btn {
display: none!important;
}

.footerPanel .options button.share {
display: none!important;
}
/*End Universal Viewer*/

/*Add a centre class*/
.centre {
text-align: center;
}

/*Increase width of Media Details block*/
.media-details-container > .col-single:only-child {
    width: 100%;
    max-width: 1350px;
    margin: auto;
}

/*Set maximum height for medium details block*/
.col-single > .media-render > img {
    display: block;
    height: calc(80vh - 12px);
    width: auto;
    margin: 0 auto;
}

/*Increase size of Openseadragon render for single items*/
.col-single .media-render.iiif .openseadragon {
    height: calc(90vh - 12px)!important;
    background: #ededed!important;
}

/*Add background to Openseadragon render*/
.col-single .media-render.iiif .openseadragon .openseadragon-container .openseadragon-canvas {
    background: #1d1d1d!important;
}

/*Improving Media Embed and Transcriptions*/
.page .item-showcase .resource.item:not(:only-child) h3, .page .file .resource h3 {
    font-size: 1.5em;
    margin: 2em 0;
}

.page .item.resource .caption {
    font-size: 16.75px;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
}
/*End Improving Media Embed and Transcriptions*/

/*Annona Settings*/
button#keyboardButton,
button#settingsButton,
button#reloadButton {
display: none;
}

.storyboard_viewer {
background: #000!important;
}

/*Paragraph Text*/
.paragraph-text {
    padding: 1em;
    line-height: 2;
    }
    
    .paragraph-text p,
    .paragraph-text h2,
    .paragraph-text h3 {
        max-width: 800px;
        margin: 26px auto;
    }
    
    .paragraph-text.max-width-500 {
    max-width: 500px;
    margin: 0 auto;
    }

    .paragraph-text.dark {
    padding: 4rem 1rem;
    }

/*Underline hover on main menu*/
#top-nav ul a:hover {
    text-decoration: underline;
}

    /*Media Text Overlay*/
.media-text.overlay .text h3 {
    text-align: center;
    }
        
    /*Remove Padding from Annona*/
    .storyboard_viewer {
    padding-bottom: 0;
    }
    
    /*Mirador Header*/
    .mirador-viewer header {
        align-items: inherit;
    }
    
    /*Right Arrow on Annona using mobiles*/
    @media only screen and (max-width: 500px)  {
    .ltr#nextPageButton, 
    .rtl#previousPageButton {
        left: 89%;
    }
    }
    
    /*Additional margin*/
    .left.file, .left.assets {
        margin: 0 3rem 1rem 1rem;
    }
    
    .media-text .left.file {
    margin: 1em 0;
    }

    /*Increase size of Openseadragon for Large Centred Files - Media Embed*/
    .center.large.file .media-render.iiif .openseadragon {
        height: 85vh!important;
        background: #000;
    }
    
    /*Title above media player for Media Embed Blocks*/
    .center.large.file .item.resource,
    .center.medium-large.file .item.resource  {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .center.large.file .item.resource .media-render.webvtt,
    .center.medium-large.file .item.resource .media-render.webvtt {
        width: 100%;
        flex-basis: 100%;
    }
    
    .center.large.file .item.resource h3,
    .center.medium-large.file .item.resource h3 {
    order: -1;
    }
    
    /*Right Alignment for Overlay Block*/
    .right.media-text.overlay,
    .left.media-text.overlay {
    overflow: unset;
    max-width: unset;
    }
    
    /*Maximum Image Height*/
    .media-text.max-image-height .media-render {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .media-text.max-image-height img {
        width: auto;
        max-height: 90vh;
    }
    
    @media only screen and (min-width: 1025px)  {
    .media-text.max-image-height .media-render {
        display: inherit;
    }
    
    .media-text.max-image-height img {
        width: inherit;
        max-height: unset;
    }
    }

/*Dark Background*/
.dark {
    background-color: #1d1d1d;
    }
    
    .dark p {
    color: #d7d7d7;
    }

.dark h3 a {
color: #fff;
}
    
    /*Full width*/
    .full-width {
        width: 100vw;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    
    /*Margin-top-zero*/
    .margin-top-zero {
    margin-top: 0!important;
    }
    
    /*Increase banner subheading size*/
    .image-banner .overlay-container > p {
        font-size: 1.2rem;
    }
    @media screen and (min-width: 450px)  {
    .image-banner .overlay-container > p {
        font-size: 2rem;
    }
}
    
    /*Add large first letter for introduction*/
    .paragraph-text.introduction::first-letter {
      initial-letter: 2;
      margin-right: 12px;
    }

    /*Remove large first letter for introduction*/
    .removelargeletter .paragraph-text.introduction::first-letter {
      initial-letter: revert;
      margin-right: unset;
    }
    
    /*Increase size of Media Embed IIIF manifests*/
    .center.large.file .attachments .media-render.iiif_presentation {
    width: 95vw;
    height: 100vh;
    }

/*Media Embed Openseadragon: Fill Width*/
.center.large.file .attachments {
    flex: 1 1 0;
}

/*Dark Colour Palette*/
.dark-colour-1 .player-audio .player-controls {
background: #1C1C1C;
}

.dark-colour-2 .player-audio .player-controls { 
background: #373A3E;
}

.dark-colour-3 .player-audio .player-controls { 
background: #515B63;
}

.dark-colour-4 .player-audio .player-controls { 
background: #6A8086;
}

.dark-colour-5 .player-audio .player-controls { 
background: #86A7A6;
}

.dark-colour-6 .player-audio .player-controls { 
background: #A9CEC2;
}

/*Increase size of YouTube videos*/
.media-render.youtube {
width: 100%;
}

.iiif-storyboard-wide-container {
width: 90vw;
margin: 0 auto;
}

/*Remove language selector*/
[aria-label="Transcript language"] {
    display: none;
    }

/*Remove close button*/
[aria-label="Close transcript"] {
display: none;
}

/* @end */
